[Unit]
Description=servername Minecraft Bedrock Server
After=network-online.target

[Service]
User=userxname
WorkingDirectory=/opt/minecraft
Type=forking
ExecStart=/bin/bash /opt/minecraft/start.sh
ExecStop=/bin/bash /opt/minecraft/stop.sh
GuessMainPID=no
TimeoutStartSec=1800

[Install]
WantedBy=multi-user.target